.banner {
    background-color: lightgray;
    height: 15%;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.buttons {
    background-color: white;
    height: 10%;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.display {
    background-color: lightblue;
    height: 65%;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.centered {
    margin-left: auto;
    margin-right: auto;
}

button {
    margin: 3px;
}